.Blog {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.posts {
  flex-direction: column;
  justify-content: center;
}
button {
  padding: 3px;
  /* margin: 5px; */
}
h1,
p {
  padding: 3px;
}
