.newletter_container {
  margin: 20px;
  text-align: left;
}
.news-letter {
  display: flex;
  flex-direction: row;
  padding: 15px;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
h2 {
  font-size: 30px;
  color: black;
  margin: 20px;
}
.names {
  min-width: 10px;
}
.subscribe-button {
  padding: 10px 20px;
  margin-left: 72px;
  border: none;
  border-radius: 5px;
  background-color: green;
  color: white;
  cursor: pointer;
  font-size: medium;
}
input {
  padding: 10px;
  border: 1px solid black;
}
