.footer {
  margin-top: auto;
  background-color: #40b87a;
  height: 50px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.footer-content {
  text-decoration: none;
  /* margin-right: 100rem; */
  display: flex;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }
  .footer-content,
  .footer-right {
    margin-bottom: 0.5rem;
  }
}
