.footer {
  width: 100%;
  margin-top: 100px;
  padding: 20px;
  background-color: #08c463;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}

.Footer-footerIcon {
  display: flex;
  margin-right: 20px;
  color: black;
  cursor: pointer;
}
.links {
  color: black;
}
.footer-left {
  display: flex;
  gap: 30px;
  font-size: medium;
}
