.footer {
    background-color: #f1f1f1;
    text-align:right;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.Footer-bottomright{
    flex: 3;
    display: flex;
   
   
}
.Footer-footerIcon{
    font-size: 80px;
    margin-right: 40px;
    color: #444;
    cursor: pointer;
}