:root {
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}
.app {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

body,
html {
  margin: 0;
  padding: 0;
}

@media (max-width: var(--breakpoint-md)) {
  body {
    padding: 10px;
    font-size: 14px;
  }
  /* .side-bar {
    width: 100%;
  } */
}
