.quilting-page {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

.main-container h2 {
  text-align: center;
  margin-bottom: 30px;
}
.main-container img {
  width: 50%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }
}
img {
  object-fit: contain;
  size: 50px;
}
